<html>
  <head>
    <title>[% title %]</title>
    [% IF include_script %]
        <SCRIPT LANGUAGE="JavaScript" SRC="/scmbug/WebReports.js">
        </SCRIPT>
    [% END %]
  </head>
  
  [% IF include_script %]
	<body onLoad="svnRootSelected( document.getElementById('svnRoot') )">
  [% ELSE %]
  	<body>
  [% END %]
  
  [% IF heading_banner %]
      <img src="[% heading_banner %]">
  [% END %]
